li a {
    color: #FFFAFA;
}
body {
    background: white url("images/background.jpg") no-repeat;
}
li {
    color: #4169E1;
}
.form_label_vote
{
    color: #FFFAFA;
    }

.h1_detail_question_title {
      color: #00008B}

.gradient-button {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}
