<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'my_polls/style.css' %}">
</head>
<body>
<h1 class = "h1_detail_question_title">{{ question.question_text }}</h1>
<div class = "div_index">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'my_polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label class = "form_label_vote" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
    <p></p>
<input class = "gradient-button" type="submit" value="Vote">
</form>
    <a href="{% url 'my_polls:index' %}"><h3>All questions</h3></a>
    </div>
</body>
</html>